@{
    ViewData["Title"] = "Login";
}
<div class="container mt-5">
    <h3>Contract Monthly Claim System - Login</h3>
    <form method="post">
        <div class="mb-3">
            <label>Username</label>
            <input type="text" name="username" class="form-control" required />
        </div>
        <div class="mb-3">
            <label>Password</label>
            <input type="password" name="password" class="form-control" required />
        </div>
        <button type="submit" class="btn btn-dark">Login</button>
        <p class="text-danger">@ViewBag.Error</p>
    </form>
</div>

